/DialogManager.class
/DiscourseAnalysis.class
/Eingabe.class
/Interpreter.class
/NER_en.class
/POS_Tagger_de.class
/POS_Tagger_en.class
/Parser_en.class
/PragmaticAnalysis.class
/ReferenceResolution_en.class
/ResponseGenerator.class
/Result.class
/SemanticAnalysis.class
/Steuerung.class
/TokenizerMaximumEntropy.class
/WordNet.class
/genderFinder.class
/scrapWebsite.class
